@use "../../styles/reset" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as mx;
@use "../../styles/partials/icon" as *;
@use "../../styles/partials/button" as *;

.upload {
  margin: 0 auto;
  @extend .font__body;
  @extend .font__body--md;
  color: $color-primary;

  &__btn {
    @extend .btn;
    @include mx.flexed(row, flex-start, center);
    flex-grow: 1;
    margin: 0;
    width: 100%;
  }

  &__btn-icon {
    margin-left: 0.5rem;
    @extend.icon;
    @extend.icon--comment;
  }

  &__btn-name {
    flex-grow: 1;
    text-transform: uppercase;
  }

  &__textarea {
    &::placeholder {
      color: $color-primary;
    }
  }

  input[type="text"],
  &__textarea {
    width: 100%;
    padding: 1.2rem;
    outline: 0;
    margin-bottom: 1.2rem;
    border-radius: 4px;
    color: $color-primary;
    border: 1px solid $color-outline;
    background-color: $color-alternative;
    &:focus {
      border: 1px solid $color-primary;
    }
  }

  &__textarea--more-height {
    height: 10rem;
  }

  &__title {
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    color: $color-secondary;
  }

  &__form-image {
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    width: 100%;
    width: 3.6rem;
    height: 3.6rem;
    background-size: cover;
    margin-top: 1.6rem;
    margin-right: 1.6rem;
    flex: 0 0 auto;
    margin-right: 1.6rem;
  }

  &__form {
    width: 100%;
    flex: 1 1 auto;
  }
}

@include mx.mq-md {
  .upload {

    &__section {
      @include mx.flexed(row, flex-start, flex-start);
      margin-top: 2.4rem;
      border-bottom: 1px solid $color-outline;
      padding-bottom: 2rem;
    }

    &__thumbnail{
        flex:1 1 0;
    }

    &__user-input{
        flex:2 1 0;
    }

    &__form-image {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}

@include mx.mq-lg {
  .form {
    width: 80%;
  }
}
