@use "../../styles/reset" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as mx;
@use "../../styles/partials/icon" as *;
@use "../../styles/partials/button" as *;


.hv{
 
    max-width: 1280px;
    margin: 0 auto;

 &__video-wrap{
   width:100%;
   background-color:$color-video;
   cursor: pointer;
 }
    
 &__video{
    width:100%;

 }

 &__icon-views {
    @extend .icon;
    @extend .icon--views;
  }

  &__icon-likes {
    @extend .icon;
    @extend .icon--likes;
  }
}

@include mx.mq-md{
.hv{
     &__video-wrap{
 @include mx.flexed(row,center,center);
 }
    
 &__video{
width:90%;

 }
  }
}

@include mx.mq-md{
.hv{
     &__video-wrap{
   max-height:55rem;
 }
    
 &__video{
  max-height:55rem;
 }
  }
}