@use "../reset" as *;
@use "../colors" as *;
@use "../fonts" as *;
@use "../mixins" as mx;


/*--------avatar------------*/
.avatar{
 
    background-image: url(../../assets/images/Mohan-muruge.jpg);
    width:100%;

    width:3.6rem;
    height: 3.6rem;

    max-width:3.6rem;
    max-height:3.6rem;
    border-radius: 50%;
    background-size: cover;
   margin:1rem;
    flex:0 0 auto;
}

@include mx.mq-md{
    .avatar{
    width:4rem;
    height:4rem;
    max-width:4rem;
    max-height:4rem;
    }
}
