@use "./mixins" as mx;

/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../assets/fonts/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}


/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../assets/fonts/Alternative/AvenirNextLTProBold.ttf")
      format("truetype");
  font-weight: 700;
}

/* padding setting */

.padding {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}

@include mx.mq-md {
  .padding--medium {
    padding-top: 3.6rem;
    padding-bottom: 2.4rem;
  }
}

/* font setting */
.page__header {
  font-size: 2.4rem;
  line-height: 2;
  font-weight: 700;
}

.font__section-header {
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 700;
}

.font__sub-header {
  font-size: 1.3rem;
  line-height: 1.125;
  font-weight: 700;
}

.font__body {
  font-size: 1.3rem;
  line-height: 1.125;
  font-weight: 400;
}

.font__label{
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight:700;
}

@include mx.mq-md {

.page__header--md {
  font-size: 3.3rem;
  line-height: 2.75;
  font-weight: 700;
}

.font__section-header--md {
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 700;
}

.font__sub-header--md {
  font-size: 1.4rem;
  line-height: 1.375rem;
  font-weight: 700;
}

.font__body--md {
  font-size: 1.4rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.font__label--md{
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight:700;
}
}