@use "../../styles/reset" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as mx;
@use "../../styles/partials/icon" as *;
@use "../../styles/partials/button" as *;

.sidebar {


  //------ Next Videos  -------
  &__wrap-video {
   @include mx.flexed(column, flex-start, flex-start);
 }

  &__wrap-word {
    @include mx.flexed(row, flex-start, center); 
  }


  &__nextv {
    object-fit: fill;
    overflow: hidden;
    border-radius: 10px;
    width:20rem;
    height:7rem;

    cursor: pointer;
    margin:1.6rem;
    flex-basis: 10rem;
  }
  
  &__subtitle-wrap{
      flex-basis: 15rem;
  }


}
@include mx.mq-lg {
  .sidebar {
    @include mx.flexed(row, space-between, flex-start);
   
  }
}
