@use "../../styles/reset" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/mixins" as mx;
@use "../../styles/partials/icon" as *;
@use "../../styles/partials/button" as *;

.sidebar {
  padding-top:1.6rem;
  padding-left:1.6rem;
  padding-bottom:1.6rem;

  &__title{
    @extend .font__section-header;
    color:$color-secondary;
    text-transform: uppercase;
    padding-bottom:0.8rem;
  }

  &__wrap-video {
   @include mx.flexed(column, flex-start, flex-start);
 }

  &__wrap-word {
    @include mx.flexed(row, flex-start, flex-start); 
    width:100%;
  }


  &__nextv {
    object-fit: fill;
    overflow: hidden;
    border-radius: 10px;
    width:12rem;
    height:7rem;
    
    cursor: pointer;
    margin:0.8rem 1.6rem 0.8rem 0;
    flex-basis: 10rem;
  }
  
  &__subtitle-wrap{
      flex-basis: 15rem;
      @extend .font__body;
      color:$color-primary;
  }

  &__subtitle{
    font-weight:700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

  }

  &__author{
    font-weight: 400;

  }

}

@include mx.mq-md {
  .sidebar{
  padding-top:2.4rem;
  padding-left:2.4rem;

}
}
@include mx.mq-lg {
  .sidebar {
    @include mx.flexed(row, space-between, flex-start);
    border-left:1px solid $color-outline;
   
  }
}
